Repository jprichardson/node-fs-extra, pull requests merged in 2018-07, with the labels that each got.

#582 [BREAKING] copy*(): use ino to check identical paths
  lib/copy-sync/__tests__/broken-symlink.test.js
  lib/copy-sync/__tests__/copy-sync-dir.test.js
  lib/copy-sync/__tests__/copy-sync-file.test.js
  lib/copy-sync/__tests__/copy-sync-prevent-copying-identical.test.js
  lib/copy-sync/__tests__/copy-sync-prevent-copying-into-itself.test.js
  lib/copy-sync/copy-sync.js
  lib/copy/__tests__/copy-prevent-copying-identical.test.js
  lib/copy/__tests__/copy-prevent-copying-into-itself.test.js
  lib/copy/__tests__/copy.test.js
  lib/copy/__tests__/ncp/broken-symlink.test.js
  lib/copy/copy.js
  lib/json/__tests__/output-json-sync.test.js
  lib/json/__tests__/output-json.test.js
Labels: feature-copy, semver-major

#600 Set new directory mode after copying files (MacOS fix)
  lib/copy-sync/__tests__/copy-sync-readonly-dir.test.js
  lib/copy-sync/copy-sync.js
  lib/copy/__tests__/copy-readonly-dir.test.js
  lib/copy/copy.js
Labels: bug, feature-copy

#596 Add missing element for `fs.lchmod` promisification (#595)
  lib/fs/index.js
Labels: bug, promises
