Repository jprichardson/node-fs-extra, pull requests merged in 2018-04, with the labels that each got.

#549 move: rewrite move to use fs.rename
  lib/move/__tests__/move.test.js
  lib/move/index.js
Labels: enhancement, feature-move

#554 [BREAKING] copy & copySync: do not overwrite src & dest paths to avoid side effects
  lib/copy-sync/copy-sync.js
  lib/copy/copy.js
Labels: feature-copy

#564 BREAKING: Drop builds for Node 4, 5, & 7; add OSX builds & Node 9
  .travis.yml
  appveyor.yml
  package.json
Labels: semver-major

#567 Add docs that graceful-fs is used
  README.md
Labels: documentation

#568 copy*() case-insensitive paths
  lib/copy-sync/__tests__/copy-sync-case-insensitive-paths.test.js
  lib/copy-sync/__tests__/copy-sync-dir.test.js
  lib/copy-sync/__tests__/copy-sync-file.test.js
  lib/copy-sync/__tests__/copy-sync-prevent-copying-identical.test.js
  lib/copy-sync/__tests__/copy-sync-prevent-copying-into-itself.test.js
  lib/copy-sync/copy-sync.js
  lib/copy/__tests__/copy-case-insensitive-paths.test.js
  lib/copy/__tests__/copy-prevent-copying-identical.test.js
  lib/copy/__tests__/copy-prevent-copying-into-itself.test.js
  lib/copy/__tests__/copy.test.js
  lib/copy/copy.js
Labels: feature-copy

#569 use strict assert
  lib/copy-sync/__tests__/broken-symlink.test.js
  lib/copy-sync/__tests__/copy-sync-preserve-time.test.js
  lib/copy-sync/__tests__/copy-sync-prevent-copying-identical.test.js
  lib/copy-sync/__tests__/symlink.test.js
  lib/copy/__tests__/copy-preserve-time.test.js
  lib/copy/__tests__/copy-prevent-copying-identical.test.js
  lib/copy/__tests__/copy.test.js
  lib/copy/__tests__/ncp/broken-symlink.test.js
  lib/copy/__tests__/ncp/ncp-error-perm.test.js
  lib/copy/__tests__/ncp/ncp.test.js
  lib/copy/__tests__/ncp/symlink.test.js
  lib/empty/__tests__/empty-dir-sync.test.js
  lib/empty/__tests__/empty-dir.test.js
  lib/ensure/__tests__/create.test.js
  lib/ensure/__tests__/ensure.test.js
  lib/ensure/__tests__/link.test.js
  lib/ensure/__tests__/symlink-paths.test.js
  lib/ensure/__tests__/symlink-type.test.js
  lib/ensure/__tests__/symlink.test.js
  lib/fs/__tests__/copyFile.test.js
  lib/fs/__tests__/fs-integration.test.js
  lib/fs/__tests__/multi-param.test.js
  lib/fs/__tests__/mz.test.js
  lib/json/__tests__/output-json-sync.test.js
  lib/json/__tests__/output-json.test.js
  lib/mkdirs/__tests__/chmod.test.js
  lib/mkdirs/__tests__/clobber.test.js
  lib/mkdirs/__tests__/mkdirp.test.js
  lib/mkdirs/__tests__/perm.test.js
  lib/mkdirs/__tests__/perm_sync.test.js
  lib/mkdirs/__tests__/race.test.js
  lib/mkdirs/__tests__/rel.test.js
  lib/mkdirs/__tests__/return.test.js
  lib/mkdirs/__tests__/return_sync.test.js
  lib/mkdirs/__tests__/sync.test.js
  lib/mkdirs/__tests__/umask.test.js
  lib/move/__tests__/move.test.js
  lib/output/__tests__/output.test.js
  lib/remove/__tests__/remove-dir.test.js
  lib/remove/rimraf.js
  lib/util/__tests__/utimes.test.js
Labels: enhancement

#570 copy*(): refactor copyDirItems() to avoid passing null param
  lib/copy-sync/copy-sync.js
  lib/copy/copy.js
Labels: enhancement, feature-copy
