Repository jprichardson/node-fs-extra, pull requests merged in 2018-08, with the labels that each got.

#611 fix docs to be consistent with node docs
  docs/copy-sync.md
  docs/copy.md
  docs/emptyDir.md
  docs/ensureDir.md
  docs/ensureFile.md
  docs/ensureLink.md
  docs/ensureSymlink-sync.md
  docs/ensureSymlink.md
  docs/move-sync.md
  docs/move.md
  docs/outputFile-sync.md
  docs/outputFile.md
  docs/outputJson-sync.md
  docs/outputJson.md
  docs/readJson-sync.md
  docs/readJson.md
  docs/remove.md
  docs/writeJson-sync.md
  docs/writeJson.md
Labels: documentation

#617 Chore: github issue template
  .github/issue_template.md
Labels: documentation

#587 Show support for mode
  docs/ensureDir-sync.md
  docs/ensureDir.md
Labels: documentation, feature-ensureDir

#609 [BREAKING] moveSync: refactor to use renameSync
  lib/move-sync/__tests__/move-sync-prevent-moving-into-itself.test.js
  lib/move-sync/__tests__/move-sync.test.js
  lib/move-sync/index.js
  package.json
Labels: feature-move, semver-major
